<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../../static/favicon.ico" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <a class="btn btn-sm btn-light" href="/">Home</a>
        <a href="javascript: document.logoutForm.submit()" role="menuitem" class="btn btn-sm btn-danger"> Logout</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
    </div>


</body>
</html>