<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:replace="include/header :: header"></div>
<div>
    <form action="/create_group" method="post">
        <label>
            <input type="text" placeholder="Csoportnév" class="form-control" th:name="gn"/>
        </label>
        <button th:type="submit" class="btn btn-sm btn-outline-warning">Új csoport</button>
    </form>
    <div>
        <table>
            <th:block th:each="group : ${groups}">
                <tr>
                    <td th:text="${group.getGroupName()}">NAME</td>
                    <td>
                        <form action="/delete_group" method="post">
                            <label>
                                <input hidden="true" type="text" th:value="${group.getId()}" class="form-control" th:name="groupId"/>
                            </label>
                            <text th:value="${group.getId()}" id="groupId"></text>
                            <button th:type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>

                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>